/Backups/
/Cache/
/CachedData/
/CachedExtensions/
/Code Cache/
/GPUCache/
#/User/
/Workspaces/
/blob_storage/
/logs/
#/.gitignore
/Cookies
/Cookies-journal
/Network Persistent State
/languagepacks.json
/machineid
/rapid_render.json
/storage.json
