/.cache/
/.cargo/
/.ccache/
#/.config/
/.gnupg/
/.local/
/.npm/
/.nv/
/.pki/
#/.qt/
#/.rustup/
/.steam/
/.vscode-oss/
/.wallpaper/
#/bin/
/code/
/cours/
/dl/
/documents/
/.Xauthority
#/.Xresources
#/.asoundrc
/.bash_history
/.bash_logout
#/.bash_profile
#/.bashrc
/.code-workspace
#/.dmrc
/.fehbg
/.gitconfig
#/.gitignore
/.gitignore.old
/.lesshst
/.nvidia-settings-rc
/.pulse-cookie
/.steampath
/.steampid
/.viminfo
/.wget-hsts
#/.xprofile
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
