/.cache/
/.cargo/
/.ccache/
#/.config/
/.gnupg/
/.java/
/.jd/
/.local/
/.npm/
/.nv/
/.nvm/
/.pkg-cache/
/.pki/
#/.qt/
/.rstudio-desktop/
#/.rustup/
/.ssh/
/.steam/
#/.vscode/
/.vscode-oss/
/.wallpaper/
/R/
#/bin/
/code/
/cours/
/dl/
/documents/
/.Rhistory
/.Xauthority
#/.Xresources
#/.asoundrc
/.bash_history
/.bash_logout
#/.bash_profile
#/.bashrc
/.code-workspace
#/.dmrc
/.fehbg
/.gitconfig
#/.gitignore
/.gitignore.old
/.lesshst
/.npmrc
/.nvidia-settings-rc
/.pulse-cookie
/.steampath
/.steampid
/.viminfo
/.wget-hsts
#/.xprofile
/.xscreensaver
/.xsession-errors
/.xsession-errors.old
#/TODO
